body {
    display: grid;
    place-items: center;
    height: 50vh;
    font-family: sans-serif;
    background-color: #f9f9f9;
  }

h1 {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-template-rows: repeat(7, auto);
    gap: 50px;
    padding: 30px;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 250px;
  }

.form-field label {
    grid-column: 1 / 2;
    margin-bottom: 0.5rem;
  }

.form-field input {
    grid-column: 2 / 3;
    /* other styles */
}  

.form-field button{
    background-color: mediumslateblue;
    border: none;
    color: white;
    padding: 11px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

label {
    grid-column: 1;
    font-weight: bold;
}

input {
    grid-column: 2;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


